/*
TODO:
add the media queries
*/
:root {
    --GreenLight: hsl(148, 38%, 91%);
    --GreenMedium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --GreyMedium: hsl(186, 15%, 59%);
    --GreyDarker: hsl(187, 24%, 22%);
    --FontSizeLabel: 16px;
    --FontWeightLight: 400;
    --FontWeightBold: 700;
    --InputBoxSize: 4rem;
}

@font-face {
    font-family: KarlaBold;
    src: url(../assets/fonts/static/Karla-Bold.ttf);
}

@font-face {
    font-family: KarlaNormal;
    src: url(../assets/fonts/static/Karla-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--GreenLight);
    font-family: KarlaNormal;
}

.container {
    width: 45%;
    padding: 1.5rem;
    background-color: var(--White);
    border: 1px solid var(--White);
    border-radius: 2%;
    height: auto;
    overflow-y: auto;
    padding-bottom: 2rem;

}

.container h2 {
    font-weight: var(--FontWeightBold);
}

.container .names-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.container .names-container .first-name ,
.container .names-container .last-name  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.container .names-container .first-name input,
.container .names-container .last-name input {
    border: 1.5px solid var(--GreyMedium);
    border-radius: 4px;
    height: var(--InputBoxSize);
}


.container .names-container .first-name input:hover,
.container .names-container .last-name input:hover {
    cursor: pointer;
    border: 2px solid var(--GreenMedium);
}

.container .email-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container .email-container input {
    border: 1.5px solid var(--GreyMedium);
    border-radius: 4px;
    height: var(--InputBoxSize);
    
}

.container .email-container input:hover {
    cursor: pointer;
    border: 2px solid var(--GreenMedium);
}


.container .query-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container .query-container .query {
    margin: 0rem 0rem 0rem 0rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.container .query-container .query div {
    border: 1.5px solid var(--GreyMedium);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: var(--InputBoxSize);
    padding: 0rem 0rem 0rem 1rem;
}

.container .query-container .query label {
    height: 100%;
    width: 100%;
    align-items: center;
    cursor: pointer;   
    text-wrap: nowrap;
}

.container .query-container .query .svg-container {
    display: inline-block;
    height: 100%;
    padding: 0rem 1rem 0rem 0rem;
    vertical-align:middle;
}
.container .query-container .query .svg-container svg {
    height: 100%;
}


.container .query-container .query .query-msg
{
    display: inline-block;
}

/*Hover state for the query sectipn*/
.container .query-container .query div:hover {
    display: flex;
    cursor: pointer;
    background-color: var(--GreenLight);
    cursor: pointer;
}


.container .query-container .query input[type="radio"],
.svg-container .checked-svg
{
    display: none;
}


.container .query-container .general input:checked + .svg-container .checked-svg
{
    display: inline;
} 

.container .query-container .general input:checked + .svg-container .unchecked-svg
{
    display: none;
}
.container .query-container .support input:checked + .svg-container .checked-svg
{
    display: inline;
} 
.container .query-container .support input:checked + .svg-container .unchecked-svg
{
    display: none;
}


.container .button 
{
    margin-top: 1rem;
    cursor: pointer;
}

.container .button label:hover
{
    cursor: pointer;
}

.container .button .custom-checkbox svg
{   
    width: 18px;
    height: 100%;
    vertical-align: middle;
    
}

.checked
{
    display: none;
}

.custom-checkbox input:checked + .checkbox-svg .unchecked
{
    display: none;
}

.custom-checkbox input:checked + .checkbox-svg .checked

{
    display: inline-block;
}

.container .message-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.container .message-container textarea {
    font-family: KarlaNormal;
    border: 1.5px solid var(--GreyMedium);
    border-radius: 4px;
    width: 100%;
    height: 70px;
    text-align: left;
    padding: 0.5rem;
}


.container .message-container textarea:hover {
    border: 2px solid var(--GreenMedium);
    cursor: pointer;
}


.container .submit-btn {
    margin-top: 1rem;
}

.container .submit-btn button {
    background-color: var(--GreenMedium);
    height: 40px;
    width: 100%;
    color: var(--White);
    border: 1.5px transparent;
    border-radius: 4px;
    font-weight: var(--FontWeightBold);
}

/* Base styles */
.container .submit-btn button:hover {
    cursor: pointer;
}

.input-css {
    text-wrap: nowrap;
    text-align: left;
    padding: 0.5rem;
    line-height: normal;
}

.error {
    display: none;
    color: var(--Red);
}

.container .button .error {
    padding-top: 1rem;
}


.success-message
{
    position: absolute;
    top: 4%;
    left: 25%;
    width: 50%;
    background-color: var(--GreyDarker);
    border-radius: 8px;
    color: var(--White);
    padding: 1rem;
    display: none;
}
.success-message .first
{
    text-align: center;
    font-weight: var(--FontWeightBold);
}

.success-message .second
{
    text-align: center;
    font-weight: var(--FontWeightLight);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .container .names-container
    {
        flex-direction: column;
    }
    .container .query-container .query
    {
        display: flex;
        flex-direction: column;
    }
    .container
    {
        width: 90%;
        padding-bottom: 4rem;
    }
    body
    {
        font-size: 0.9rem;
    }
    .error
    {
        font-size: 0.6rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body
    {
        font-size: 1rem;
        
    }
    .container
    {
        width: 90%;
        height: 80%;
    }
    .error
    {
        font-size: 1rem;
    }
    .container .submit-btn button
    {
        height: 4rem;
        font-size: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 912px) {
    .container
    {
        height: 100%;
        width: 70%;
    }
    body
    {
        font-size: 1rem;
    }
    .container .names-container .first-name input,
    .container .names-container .last-name input,
    .container .query-container .query div,
    .container .email-container input  
    {
        height: 2rem;
    }
}
